<div class=" h-[200vh] items-start justify-center bg-gradient-to-r from-gray-800">
  <div class="bg-white/30 backdrop-blur-md rounded-lg p-8 shadow-xl border border-white/20 w-full h-4">
      <h2 class="text-white text-2xl text-left -mt-6">Movies</h2>

      <form class="flex items-center justify-center">
          <input class="items-center justify-center rounded-lg py-2 px-2 w-6/12 -mt-6 border border-gray-300 focus:outline-none focus:border-grey-600" type="text" placeholder="Search movies...">
          <button class="bg-red-50 text-slate-500 hover:bg-blue-200 py-2 px-4 rounded-lg -mt-6 ml-2" type="search">Search</button>
    </form>
    <div class="flex justify-end -mt-8">
      <i class="pi pi-user text-[#708090]" style="font-size: 1.5rem"></i>
    </div>

    <div class="cart-container relative flex flex-row flex-wrap gap-10 justify-between" style="margin-top:700px; left:100px">
        <div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out relative ">
          <h2 class="absolute left-36 text-2xl font-bold"> TITLE</h2>
          <img src="assets/images/m1.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
           <ul>
  <li class="flex items-center relative left-80">
    <h2>2.4</h2>
    <i class="pi pi-star-fill"></i>
  </li>
 </ul>  
     
    </div>
      <div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
        <h2 class="absolute left-36 text-2xl font-bold">TITLE</h2>
        <img src="assets/images/m4.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
        <ul>
          <li class=" flex items-center relative left-80 ">
            <h2>2.4</h2>
            <i class="pi pi-star-fill"></i>
          </li>
         </ul>

      </div>
    <div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
      <h2 class="absolute left-36 text-2xl font-bold">TITLE</h2>

      <img src="assets/images/m3.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
      <ul>
        <li class="flex items-center relative left-80">
          <h2>2.4</h2>
          <i class="pi pi-star-fill"></i>
        </li>
       </ul>
    </div>
  <div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
    <h2 class="absolute left-36 text-2xl font-bold">TITLE</h2>
    <img src="assets/images/m5.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
    <ul>
      <li class="flex items-center relative left-80">
        <h2>2.4</h2>
        <i class="pi pi-star-fill"></i>
      </li>
     </ul>

  </div>
<div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
  <h2 class="absolute left-36 text-2xl font-bold">TITLE</h2>
  <img src="assets/images/m6.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
  <ul>
    <li class="flex items-center relative left-80">
      <h2>2.4</h2>
      <i class="pi pi-star-fill"></i>
    </li>
   </ul>
</div>
<div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
  <h2 class="absolute left-36 text-2xl font-bold">TITILE</h2>
  <img src="assets/images/m3.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
  <ul>
    <li class="flex items-center relative left-80">
      <h2>2.4</h2>
      <i class="pi pi-star-fill"></i>
    </li>
   </ul>
</div>

<div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
  <h2 class="absolute left-36 text-2xl font-bold">TITLE</h2>
  <img src="assets/images/m1.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
  <ul>
    <li class="flex items-center relative left-80">
      <h2>2.4</h2>
      <i class="pi pi-star-fill"></i>
    </li>
   </ul>
</div>
<div class="bg-white/30 backdrop-blur-md rounded-lg  shadow-xl border border-white/20  overflow-hidden w-96 h-32 p-2 hover:bg-white/70 transition duration-800 ease-in-out  ">
  <h2 class="absolute left-36 text-2xl font-bold">TITLE</h2>
  <img src="assets/images/m1.png" alt="m1" class="w-1/3 object-cover rounded-lg shadow-lg m-1">
 <ul>
  <li class="flex items-center relative left-80">
    <h2>2.4</h2>
    <i class="pi pi-star-fill"></i>
  </li>
 </ul>

</div>
  </div>

</div>

<ul class="relative flex flex-col top-8 left-12">
  <li><i class="pi pi-warehouse text-[#708090] absolute " style="font-size: 2.5rem"></i></li>
  <li><i class="pi pi-calendar text-[#708090] absolute top-20" style="font-size: 2.5rem"></i></li>
  <li><i class="pi pi-bookmark text-[#708090] absolute top-40" style="font-size: 2.5rem"></i></li>
  <li><i class="pi pi-shopping-cart text-[#708090] absolute top-60  focus:bg-sky-700 rounded-lg " style="font-size: 2.5rem"></i></li>
</ul>


<div class="flex items-start justify-end bg-gradient-to-r via-gray-300">
    <div class="bg-white/30 backdrop-blur-md rounded-lg p-8 shadow-xl border border-white/20 w-11/12 ml-8 m-4  h-[70vh] overflow-hidden">
    <div class="swiper-container">
     <div class="swiper-container h-full " #swiperContainer>
      <div class="swiper-wrapper ">
        <div class="swiper-slide flex-center " *ngFor="let slide of slides">
          <img [src]="slide.imageUrl" alt="Slide Image" class="rounded-lg shadow-lg">
          <h2>{{slide.title}}</h2>
          <p>{{ slide.description }}</p>
          <div class="flex flex-row items-center">
             <i class="pi pi-star-fill"></i>
             <i class="pi pi-star-fill"></i>
             <i class="pi pi-star-fill"></i>

          </div>

        </div>
        
      </div>
      <h1 class="absolute bottom-14 left-0 w-full text-center text-2xl font-bold">Popular</h1>
      <h1 class="absolute bottom-10 left-0 w-full text-center font-bold">movies</h1>

      <div class="swiper-pagination mb-4"></div>
      <!-- <div class="swiper-button-prev"></div> -->
      <!-- <div class="swiper-button-next"></div> -->
      
      
     </div>
     
    </div>
   
  </div>

 0
    <h4 class="absolute top-[81vh] left-32 text-2xl font-bold m-1">TOP FREE MOVIES</h4>
   
  </div>
 <div class="social-container absolute top-[130vh] w-full left-8 flex justify-center">
  <div class="bg-white/10 backdrop-blur-md rounded-lg p-8 shadow-xl border border-white/20 w-11/12 ml-8 m-4  h-[60vh] overflow-hidden">
    
  </div>

 </div>
</div>